@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  a {
    font-weight: 500;
    color: inherit;
    text-decoration: inherit;
  }

  body {
    margin: 0;
    color: hsl(0, 0%, 63%);
  }
}

@layer components {
  .primary-grid {
    grid-template-columns: 1fr 1fr 160px 1.04fr;
    grid-template-rows: 56.75fr 80px 33.75fr;
  }
}
